div(class="toggle")
  p(class="toggle__text") toggle
  div(class="toggle-wrapper")
    input(type="checkbox" id="specialOffer" checked)
    label(class="toggle__btn" for="specialOffer") Получать спецпредложения
