.headersNfooters
  include ./../../blocks/logo/logo.pug
  .header-logOut
    +header(false)
  .header-logIn
    +header(true, "Ainur Sayapov")
  .footer-info
    include ./footer-widgetsNcopyright.pug
  .footer-main
    include ./footer-creative.pug  
