div(class="form-el")
  div(class="form-el__logo")
  div(class="form-el__wrapper")
    div(class="form-el__wrapper__first-col")
    div(class="form-el__wrapper__second-col")
    div(class="form-el__wrapper__third-col")
    div(class="form-el__wrapper__comment")
