@charset "UTF-8";
@font-face {
  font-family: 'Conv-Montserrat-Regular';
  src: url(fonts/Montserrat-Regular.eot);
  src: local("☺"), url(fonts/Montserrat-Regular.eot) format("eot"), url(fonts/Montserrat-Regular.woff) format("woff"), url(fonts/Montserrat-Regular.ttf) format("truetype"), url(fonts/Montserrat-Regular.svg#webfont) format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Conv-Montserrat-Bold';
  src: url(fonts/Montserrat-Bold.eot);
  src: local("☺"), url(fonts/Montserrat-Bold.eot) format("eot"), url(fonts/Montserrat-Bold.woff) format("woff"), url(fonts/Montserrat-Bold.ttf) format("truetype"), url(fonts/Montserrat-Bold.svg#webfont) format("svg");
  font-weight: bold;
  font-style: normal; }
.btn {
  display: inline-block;
  padding: 15px 20px 14px;
  border-radius: 22px;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  text-transform: uppercase; }

.btn_purple {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  color: #fff; }

.btn_purple:hover {
  opacity: 0.5; }

.btn_purple-border {
  box-sizing: border-box;
  border: 2px solid #bc9cff;
  background: #fff;
  color: #bc9cff; }

.btn_purple-border:hover {
  border-color: rgba(188, 156, 255, 0.5); }

.price-range__title {
  font-family: 'Conv-Montserrat-Bold', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  margin-right: 42.74px; }

.price-range__slider-result {
  font-family: 'Conv-Montserrat-Regular', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: rgba(31, 32, 65, 0.5); }

.price-range__text {
  font-family: 'Conv-Montserrat-Regular', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: rgba(31, 32, 65, 0.5); }

.ui-slider.ui-slider-horizontal {
  background: #fff;
  height: 6px;
  width: 266px;
  box-sizing: border-box;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 3px;
  margin-top: 20px;
  margin-bottom: 10.56px; }

.ui-slider .ui-slider-handle {
  width: 12px;
  height: 12px;
  border: 2px solid #FFFFFF;
  border-radius: 12px;
  margin-top: -4px;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  outline: 0; }

.ui-slider.ui-slider-horizontal .ui-slider-range {
  top: -1px;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  height: 6px;
  border: 0;
  box-sizing: border-box; }
