div(class="date-dropdown date-dropdown--filter")
  label(for="filter" class="text-field__text") filter date dropdown
  span(class="date-dropdown--filter__arrow date-dropdown__part__arrow")  
  input(id="filter" class="text-field__input") 
