@import './../../attributes.scss';

.cards-wrapper{
  display: inline-block;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 30px 32px 30px;
}

.cards__input{
  margin-bottom: 10px;
}

.cards__title{
  display: inline-block;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: $dark-shade;
  margin-bottom: 20px;
}

.btn_cards{
  float: right;
}

.cards__text{
  display: inline-block;
  margin-top: 10px;
}

.cards__accauntBtn{
  display: inline-block;
  margin: 20px 0 30px;
}


.room__number{
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: $dark-shade;
  margin-right: 5px;
}

.room__feature{
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $purple;
}

.room__text{
  font-size: 14px;
  line-height: 18px;
  color: fade-out($dark-shade, .5);
  float: right;
  position: relative;
  top:3px;
}

.cards{
  background: #F4F4F6;
}

.cards__wrapper{
  justify-content: space-between;
}

.cards__wrapper__first-col{
  display: inline-block;
  width: 380px;
}

.cards__wrapper__first-col > *,
.cards__wrapper__second-col > *,
.cards__wrapper__third-col > *{
  margin-bottom: 40px;
}

.cards__wrapper__second-col{
  display: inline-block;
  width: 380px;
}

.cards__wrapper__third-col{
  display: inline-block;
  width: 320px;
}

#cards__calendar{
  display: inline-block;
}
