div(class='date-dropdown') 
  input(type="text" class="dateFrom")
  input(type="text" class="dateTo")
  div(class='date-dropdown__calendar')
  //  ui-datepicker
  //div(class="range-datepicker")
    <label for="from">From</label>
    <input type="text" id="from" name="from">
    <label for="to">to</label>
    <input type="text" id="to" name="to">  
