div(class='date-dropdown-wrapper') 
  input(type="text" class="dateFrom datep")
  input(type="text" class="dateTo datep")
  //div(class="range-datepicker")
  //  <label for="from">From</label>
    <input type="text" id="from" name="from">
    <label for="to">to</label>
    <input type="text" id="to" name="to">
