.date-dropdown-wrapper{
  width:320px;
  height:369px;
}

.datep{
  width:150px;
}

.dateFrom{
  margin-right:16px;
}

.range-datepicker{
  margin-top:5.56px;
  width:320px;
  height:369px;

  .datepicker{
    box-sizing: border-box;
    width:320px;
    height:369px;
  }
}

.datepicker.-bottom-left-{
  box-sizing: border-box;
  width:320px;
  height:369px;
  margin-top:-4.44px;


  i.datepicker--pointer{
    width:0;
    height:0;
  }
}

/****** ui-datepicker
*******
.ui-datepicker{
  background: #FFFFFF;
  width:320px;
  height:369px;
  color: $purple;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  border: 1px solid fade-out($dark-shade,.75);
  box-sizing: border-box;
  box-shadow: 0px 10px 20px fade-out($dark-shade,.95);
  border-radius: 4px;
  padding:0;

  a.ui-corner-all.ui-datepicker-prev, a.ui-corner-all.ui-datepicker-next{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 20px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
    width:24px;
    height:24px;
    padding:0;
  }

    a.ui-corner-all.ui-datepicker-next{
      @include material-icon('arrow_forward');
      margin-right:19px;
      margin-top:19px;
    }

    a.ui-corner-all.ui-datepicker-prev{
      @include material-icon('arrow_back');
      margin-left:19px;
      margin-top:19px;
    }

  .ui-datepicker-title{
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    text-align: center;
    color: $dark-shade;
    margin:20px auto 30px;
  }

  td{
    width:40px;
    height:40px;
    padding:0;

    .ui-state-default{
      width:40px;
      height:40px;
      box-sizing: border-box;
      color: fade-out($dark-shade,.5);
      padding-top: 13px;
    }
  }

  .ui-datepicker-today a{
    background: $green-gradient;
    border-radius: 20px;
    color:#fff;
  }

  .ui-datepicker-other-month .ui-state-default{
    color: fade-out($dark-shade,.75);
  }

  .ui-state-active.ui-state-default{
    background: $purple-gradient;
    border-radius: 20px;
    color:#fff;
  }

  table {
    font-weight: normal;

    th{
      width:40px;
      height:40px;
      padding-top: 13px;
      box-sizing: border-box;
    }
  }

  .ui-datepicker-buttonpane{
    button{
      border:0;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      background: none;
      outline:0;
    }

    .ui-datepicker-current{
      color: fade-out($dark-shade,.5);
    }

    .ui-datepicker-close{
      color: $purple;
    }
  }
}

*/
