$purple-gradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$green-gradient: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
$dark-shade: #1F2041;
$purple: #BC9CFF;
$green: #6FCF97;

%material-icon-class{
  //**Кроссбраузерность иконки
  font-family: "Material Icons";
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

%word-title-style{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}

.form-el-container__title{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}

.form-el-container__additional-word{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  float: right;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
}

.form-el-container{
  display: inline-block;
}
