doctype html
html
	head
		meta(charset = 'utf-8')
		title Pug file
	body
		include ./mixins/form-element-container.pug
		//include ./UI kit/FormElements.pug
		include ./cards/signUp/signUp.pug
		include ./cards/signIn/signIn.pug
		include ./cards/room-filter/room-filter.pug
		include ./cards/room-filtered/room-filtered.pug
