doctype html
html
	head
		meta(charset = 'utf-8')
		title Pug file
	body
		h1 test pug
		include ./blocks/logo/logo.pug
		div buttons
			div(class = 'btn btn_purple') click me
			div(class = 'btn btn_purple-border') click me
		include ./blocks/range-slider/range-slider.pug
		include ./blocks/buttons/btn_with-arrow/btn_with-arrow.pug
		include ./blocks/pagination/pagination.pug
		include ./blocks/text-field/text-field.pug	
		include ./blocks/dropdown/dropdown.pug	
