doctype html
html
	head
		meta(charset = 'utf-8')
		title Pug file
	body
		include ./UI kit/FormElements.pug
	//-
		include ./blocks/buttons/buttons.pug
		include ./blocks/range-slider/range-slider.pug
		include ./blocks/buttons/btn_with-arrow/btn_with-arrow.pug
		include ./blocks/pagination/pagination.pug
		include ./blocks/text-field/text-field.pug	
		include ./blocks/text-field/text-field_sub.pug		
		include ./blocks/text-field/text-field_masked.pug	
		include ./blocks/dropdown/_guests/_guests.pug	
		include ./blocks/dropdown/_features/_features.pug	
		include ./blocks/date-dropdown/date-dropdown.pug
		include ./blocks/date-dropdown/date-dropdown--filter.pug
		include ./blocks/checkbox/checkbox.pug
		include ./blocks/radio-btns/radio-btns.pug
		include ./blocks/toggle/toggle.pug
		include ./blocks/like-btn/like-btn.pug
		include ./blocks/rate-btn/rate-btn.pug
		include ./blocks/checkbox/expandable-checkbox/expandable-checkbox.pug
		include ./blocks/checkbox/rich-checkbox/rich-checkbox.pug
		include ./blocks/bullet-list/bullet-list.pug
		include ./blocks/icon-text-list/icon-text-list.pug
		include ./blocks/comment/comment.pug
