div(class="text-field_sub") 
  label(for="" class="text-field__text") subscription text field
  input(class="text-field__input text-field__input_sub" placeholder="Email")
  span(class="text-field_sub-arrow")
